.like {
	display: block;
	width: 100px;
	height: 100px;
	background: gray;
}

.like:hover {
	width: 120px;
	height: 120px;
}

.red {
	background: red;
}

.notify {
	display: block;
	width: 300px;
	height: 50px;
	background: lightblue;
	opacity: 0;
	transition: .3s;
}

.show {
	opacity: 1;
}

body {
	display: flex;
	background: black;
}

* {
	box-sizing: border-box;
}

.container {
	position: relative;
	margin: 200px auto;
	height: 200px;
	width: 200px;
	perspective: 600px;
}

:root {
	--size: 200px;
}

.cube {
	width: var(--size);
	height: var(--size);
	transform-style: preserve-3d;
}

.side {
	position: absolute;
	width: inherit;
	height: inherit;

	background: url("images/igor.png") center no-repeat;
	background-size: cover;

	border: 5px solid #fff;
	color: white;
	line-height: var(--size);
	text-align: center;
	backface-visibility: hidden;
}

.front {
	transform: translateZ(calc(var(--size)/2 - 1px));
}

.back {
	transform: rotateY(180deg) translateZ(calc(var(--size)/2 - 1px));
}

.right {
	transform: rotateY(90deg) translateZ(calc(var(--size)/2 - 1px));
}

.left {
	transform: rotateY(-90deg) translateZ(calc(var(--size)/2 - 1px));
}

.top {
	transform: rotateX(90deg) translateZ(calc(var(--size)/2 - 1px));
}

.bottom {
	transform: rotateX(-90deg) translateZ(calc(var(--size)/2 - 1px));
}
