@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
	margin: 0;
}

.wrapper {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.menu {
	width: 400px;
	height: 100vh;

	background: #383838;
}

.menu-item {

}

.logo {
	padding: 52px 103px 65px 81px;
	text-align: center;

	font-family: Bebas Neue, sans-serif;
	font-size: 96px;
	color: #43B0ED;
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.searchbar {
	height: 88px;

	background: white;
}

.content {
	flex: 1;
	overflow: auto;
	padding: 10px;

	background: #f2f2f2;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05) inset;
}

.movie-list--item	{
	display: block;
	width: 370px;
	height: 700px;
	background: white;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.movie-list--item-image {
	display: block;
	height: 430px;
	border-radius: 20px 20px 0 0;
	background-size: cover;

	background: red;
}

.movie-list--item-head {
	display: block;
	padding: 12px 20px 15px 20px;
	font-family: sans-serif;
	border-bottom: 1px solid #F2F2F2;
}

.movie-list--item-title {
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	color: #333333;
}

.movie-list--item-subtitle {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 25px;
	color: #999999;
}

.movie-list--item-wrapper {
	display: block;
	height: 1px;
	background: #F2F2F2;
}

.movie-list--item-description {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;

	color: #333333;
}