.add-todo-button-container {
    margin-top: 30px;
}

.add-todo-success {
    width: 300px;
    padding: 15px;
    background: #befcbe;
}

.add-todo-error {
    width: 300px;
    padding: 15px 15px 15px 30px;
    background: #fcbebe;
}