.todos-list {
    color: #202020;
}

.todos-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.todos-item-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 16px;
    border: 1px solid #777;
    border-radius: 50%;
    margin-right: 10px;
}

.todos-item-title.completed {
    text-decoration: line-through;
}