@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@600&display=swap');

* {
	margin: 0;
}

.wrapper {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.logo {
	text-align: center;
	padding: 52px 103px 20px 81px;

	font-family: Bebas Neue, sans-serif;
	font-size: 70px;
	color: #43B0ED;
}

.menu {
	width: 400px;
	height: 100vh;

	background: #383838;
}

.menu-item {
	display: block;
	height: 70px;
	margin: 0 30px;

	border-bottom: 1px solid rgba(242, 242, 242, 0.1);
	color: #B7B7B7;
}

.menu-item:last-child {
	border-bottom: none;
}

.menu-item a {
	display: flex;
	height: 70px;
	align-items: center;
	padding: 0 15px;

	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 22px;
	color: #B7B7B7;
}

.menu-item a:hover {
	background: rgba(255, 255, 255, 0.05);;
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.searchbar {
	height: 88px;

	background: white;
}

.content {
	flex: 1;
	overflow: auto;
	padding: 10px;

	background: #f2f2f2;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05) inset;
}